@charset "utf-8";

header{
    position:sticky;top:0;left:0;
    width:100%;height:90px;
    z-index:9999;
    animation-name:fadeIn;animation-duration:1s;animation-delay:5.3s;animation-fill-mode:both;
}

.hd_inner{
    display:flex;justify-content:space-between;align-items:center;
    height:100%;
    padding:0 50px;
    background:#FFEBCD;
    box-shadow:3px 3px 6px rgba(0,0,0,0.16)
}

.hd_inner>span{
    font-weight:600;
}

.visual_sec{
    position:relative;
    height:89.2vh;
}

.visual_sec>h2{
    position:absolute;top:40%;left:50%;transform:translateX(-50%);
    width:100%;
    text-align:center;
    z-index:10;
    font-size:7rem;
    animation-name:fontFade;animation-duration:2s;animation-delay:3.5s;animation-fill-mode:both
}

/*.circle_tit{
    position:absolute;top:20%;left:40%;
    width:400px;height:400px;
    transform-origin:center;
    z-index:3
}

.circle_tit>img{
    width:100%
}*/

.word {
    position: absolute;
    top:45%;left:50%;transform:translateX(-50%);
    animation-name:fadeIn;animation-duration:1s;animation-delay:5.3s;animation-fill-mode:both;
    z-index: 3;
    opacity:0
}

.word.on{
    opacity:1
}

.word:before {
     content: '';
     background: radial-gradient(circle at 40% 20%, #fcfcfc 0%, #FFF6E8 10%, #6A8484 50%, #004040 70%);
     border-radius: 50%;
     width: 200px;
     height: 200px;
     position: absolute;
     z-index: 1;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -35%);
     filter: blur(0.5px);
     box-shadow:3px 6px 6px rgba(0,0,0,0.5);
     opacity:0;
     transition:all .5s;
 }

.word.on:before{
    opacity:1
}
.word span {
    position: absolute;top: 0;left: -10px;
    font-size:3rem;color:#007B7B;font-weight:500;
    z-index: 10
}

.ml6 {
    position: relative;
}

.ml6 .letter {
    display: inline-block;
}

.menu_wrap{
    position:relative;
    display:flex;
    height:89.2vh;
}

.menu_wrap>li{
    position:relative;
    width:25%;height:100%;
    background:#FFEBCD
}

.menu_wrap>li+li{
    border-left:1px solid #707070
}

.visual_menu{
    position:static;
    width:0;height:0
}

.visual_menu>li{
    position:absolute;left:0;top:0;
    z-index:2;
    animation-name:fadeIn;animation-duration:1s;animation-delay:5.5s;animation-fill-mode:both;
    transition: all .8s
}

.visual_menu>li.close{
    width:0
}

.visual_menu>li:nth-child(2){
    left:25%
}

.visual_menu>li:nth-child(3){
    left:50%
}

.visual_menu>li:last-child{
    left:75%
}

#gnb{
    position:absolute;top:0;left:0;
    width:100%;height:100%;
}

.show_menu>li{
    z-index:1;
    animation-name:fadeIn;animation-duration:1s;animation-delay:6s;animation-fill-mode:both;
}

.show_menu>li:first-child{
    background:url(../img/menu1.png)no-repeat center/cover;
}

.show_menu>li:nth-child(2){
    background:url(../img/menu2.png)no-repeat center/cover;
}

.show_menu>li:nth-child(3){
    background:url(../img/menu3.png)no-repeat center/cover;
}

.show_menu>li:last-child{
    background:url(../img/menu4.png)no-repeat center/cover;
}

.show_menu>li>a{
    font-size:1.5rem;color:#fff;font-weight:500
}

.sec{
    padding:125px 0 50px
}

.sec_tit{
    width:350px;
    margin:0 auto 80px
}

.sec1_tit{
    width:500px
}

.sec_tit>svg{
    width:100%
}

#pjSlide .img_wrap img{
    width:100%;height:auto
}

.slick-list{
    padding:0
}

#pjSlide .slick-slide{
    margin:0 10px
}

#pjSlide .slick-slide:not(.slick-current){
    transform:scale(0.8);
    filter:blur(2px)
}

#pjSlide .img_wrap{
    margin-bottom:20px
}

#pjSlide .pj_subject{
    display:block;
    text-align:center;
    margin-bottom:10px;
    font-size:1.25rem;color:#fb5b75
}

#pjSlide .pj_contribute{
    display:block;
    text-align:center;
    margin-bottom:15px;
    font-size:.875rem;color:#1170c5
}

#pjSlide p{
    text-align:center;line-height:1.5;
    margin:0
}

.slick-dots{
    position:static;
    margin-top:35px
}

.slick-dots li{
    margin:0
}

.slick-dots li + li{
    margin-left:10px
}

.slick-dots li button{
    display:inline-block;
    width:10px;height:10px;
    background:#004040;
    border-radius:50%;
    transition:all .3s
}

.slick-dots .slick-active button{
    transform:scaleX(2);
    border-radius:4px;
}

.slick-dots li button:before{
    content:''
}

.slick-next, .slick-prev{
    width:35px;height:35px;
    transition:all .3s;
    z-index:10
}

.slick-prev{
    left:10px;
    background:url(../img/arrow_left.svg) no-repeat center/contain
}

.slick-prev::before{
    content:'';
}

.slick-next{
    right:10px;
    background:url(../img/arrow_right.svg) no-repeat center/contain
}

.slick-next::before{
    content:'';
}

.slick-next:focus, .slick-next:hover{
    background:url(../img/arrow_right_on.svg) no-repeat center/contain
}
.slick-prev:focus, .slick-prev:hover{
    background:url(../img/arrow_left_on.svg) no-repeat center/contain
}















